# My Jupyter Notebook on IBM Watson Studio

<b>Prabhdeep Singh, Educator</b>

<i>Data scientists have a wide variety of skill sets that can leverage data and information to help organizations to make better strategic decisions. They get exciting opportunities to work and experiment with data to come up with the suitable solutions for the businesses

 add two numbers

In [1]:
a=5
b=6
c=a+b
print(c)

11

<ul>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ul>

<ol>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ol>

<ul>
<li>Fish</li>
<li>Eggs</li>
<li>Cheese</li>
</ul>

<table style="width:20%">
<tr>
<th><Name></th>
<th><Address></th>
<th><Salary></th>
</tr>

<tr>
<td><Hanna></td>
<td><Brisbane></td>
<td><4000></td>
</tr>

<tr>
<td><Adam></td>
<td><Sydney></td>
<td><5000></td>
</tr>
</table>

<table style="width:20%">
<tr>
<th><Name></th>
<th><Address></th>
<th><Salary></th>
</tr>

<tr>
<td><Hanna></td>
<td><Brisbane></td>
<td><4000></td>
</tr>

<tr>
<td><Adam></td>
<td><Sydney></td>
<td><5000></td>
</tr>
</table>